/* html */

html {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.4;
    margin: 0;
    border: none;
    padding: 0;
    line-height: 1.5;
}

/* Navber */

header {
    font-weight: 200;
    font-size: 1.8rem;
}

#navbar {
    position: fixed;
    margin-left: 0;
    width: 18.2rem;
    left: 0;
    margin-top: 0;
    border-right: solid rgba(0, 22, 22, 0.4);
    top: 0;
    height: 100%;
}

#navbar li {
    list-style-type: none;
    margin-left: 0;
}

#navbar ul {
    overflow-y: auto;
    overflow-x: hidden;
    height: 88%;
    display: block;
}

#navbar header {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 0.9rem;
}

/* main documentation */

#main-doc {
    height: 100%;
    margin-left: 20.7rem;
    width: 71%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-doc li:not(:last-child) {
    margin-bottom: 1rem;
}

#main-doc li,
p {
    font-size: 0.96em;
}

/* rest */

ul,
p,
code {
    color: #4d4e53;
}

a:not(.last) {
    display: block;
    text-decoration: none;
    color: #4d4e53;
    cursor: pointer;
    padding: 10px 20px;
    border-top: 1px solid black;
    margin-left: -40px;
    border-right: none;

}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    line-break: auto;
}

/* Media query */

@media only screen and (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }
}